# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

preprocessing/data/normal/*
preprocessing/data/wheelchair/*
preprocessing/out_video/*
preprocessing/models/*
preprocessing/yolov8*
preprocessing/out_action*

keypoints_train/work_dirs/*
keypoints_train/data/aicactivity/normal/*
keypoints_train/data/aicactivity/wheelchair/*
keypoints_train/backup_models/*

inference/out_video/*
inference/videos/*
inference/out_*/
inference/videos/*
inference/videos/*
inference/data/*
inference/weights/*
inference/det_pose_models/*
!inference/data/aicactivity/mappings.json

!*/*/.gitkeep
!*/*/*/.gitkeep
!*/*/*/*/.gitkeep
